[user]
  name = tetsuya
  email = tetsuya@users.noreply.github.com
[alias]
  co = checkout
  logs = log --name-status --pretty=fuller
  syncd = !git co develop && git pull --rebase origin develop && git fetch -p origin && git branch -d $(git branch --merged | grep -v develop | grep -v '*')
  syncm = !git co master && git pull --rebase origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*')
[core]
	editor = code --wait
